:root {
  --button-inwards-distance: 4rem; }

.button {
  position: sticky;
  top: 50%;
  z-index: 1; }

.prev-button {
  left: var(--button-inwards-distance); }

.next-button {
  right: var(--button-inwards-distance); }
