@mixin fadeX($direction, $movement, $duration, $method: linear) {
    $keyframe-name: fadeX-#{$direction}-#{$movement};

    @keyframes #{$keyframe-name} {
        @if $direction == 'left' and $movement == 'out' {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-100%);
            }
        } @else if $direction == 'left' and $movement == 'in' {
            from {
                transform: translateX(-100%);
            }
            to {
                transform: translateX(0);
            }
        } @else if $direction == 'right' and $movement == 'out' {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(100%);
            }
        } @else if $direction == 'right' and $movement == 'in' {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(0);
            }
        }
    }

    @include animate($keyframe-name, $duration, $method: linear);
}

@mixin fade($movement, $duration, $method) {
    $keyframe-name: fade-#{$movement};

    @keyframes #{$keyframe-name} {
        @if $movement == 'in' {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        } @else if $movement == 'out' {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }
    }

    @include animate($keyframe-name, $duration, $method: linear);
}

@mixin animate($animation, $duration, $method) {
    animation: $animation $duration $method;
}

.slide-out-left {
    @include fadeX(left, out, 1s, ease-in-out);
}

.slide-in-left {
    @include fadeX(left, in, 1s, ease-in-out);
}

.slide-out-right {
    @include fadeX(right, out, 1s, ease-in-out);
}

.slide-in-right {
    @include fadeX(right, in, 1s, ease-in-out);
}

.fade-in {
    @include fade(in, 1s, ease-in-out);
}

.fade-out {
    @include fade(out, 1s, ease-in-out);
}

.fade-out-slow {
    @include fade(out, 3s, ease-in-out);
}

.fade-in-fast {
    @include fade(in, 0.5s, ease-in-out);
}

.fade-out-fast {
    @include fade(out, 0.5s, ease-in-out);
}
