:root {
    --container-offset: 0;
}

.container {
    display: relative;
    width: 200%;
    height: 100vh;
    overflow: hidden;

    .card-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; /* Add this to align the cards to the left */

        .card {
            width: 90vw;
            height: 90vh;
            margin: 0px 40px;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
                scale 0.3s ease-in-out; /* Update the order of properties */
            border: 1px solid #ccc;
            background-color: gray;
        }
    }
}

.disabled {
    pointer-events: none;
}

.focused {
    transform: translateX(var(--container-offset, 0)) scale(1.05);
    opacity: 1;
}

.unfocused {
    transform: translateX(var(--container-offset, 0)) scale(1);
    opacity: 0.5;
}
