@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-background-color: black;
    --primary-color: white;
    --secondary-color: #fca311;
    --tertiary-color: #919190;
    --secondary-background-color: #131314;
    --primary-border-color: white;
    --transition-duration: 0.3s;
    --transition-duration-fast: 0.1s;
    --primary-font-family: 'Inconsolata', monospace;
    --secondary-font-family: 'Source Code Pro', monospace;
    
    /* RGB values for use with opacity/transparency */
    --primary-background-color-rgb: 0, 0, 0; /* black */
    --primary-color-rgb: 255, 255, 255; /* white */
    --secondary-color-rgb: 252, 163, 17; /* #fca311 */
    --tertiary-color-rgb: 145, 145, 144; /* #919190 */
}
